* {
    margin:0 auto;
    padding:0 auto;
}
.app {
    width: 1400px;
    height: 99vh;
    border: 2px solid black;
}

.app_header {
    text-align: center;
    
}
.container {
    min-width: 1300px!important;
}
.container:nth-child(1) {
    width:100%;
    height: 5vh;
}
.container:nth-child(2) {
    width:100%;
    height: 70vh;
    border:2px solid black;

}
.container:nth-child(3) {
    width:100%;
    height: 25vh;
}

.buttons {
    text-align: right;
    display: flex;
    height: 25vh;
    align-items: center;
 }

.properties_buttons {
    width: 100%;
    padding:auto 0;

}
.btn {
    width:300px;
    height: 70px;
    background-color: lightgray;
    outline: none;
    box-shadow: none;
    margin-top:10px;
    margin-right: -45px;

}

 .properties {
     margin-top:4vh;
 }

 .form {
    display: flex;
    margin-top: 50px;
}
 
 input {
     width: 100px;
     height: 40px;
     color:gray;
 }


.example-box {
    border: 2px solid rgb(7, 6, 6);
}

/*DON'T DELETE*/
.wrapper{margin:25px auto;max-width:600px;text-align:center;padding:0 20px;}
.movie-list{width:80%;border:solid 1px #ccc;min-height:60px;display:inline-block;background:white;border-radius:4px;overflow:hidden;margin-top:25px;}
.movie-block{padding:20px 10px;border-bottom:solid 1px #ccc;color:rgba(0, 0, 0, 0.87);display:flex;flex-direction:row;align-items:center;justify-content:space-between;box-sizing:border-box;cursor:move;background:white;font-size:14px;}
.cdk-drag-preview{box-sizing:border-box;border-radius:4px;box-shadow:0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);}
.cdk-drag-placeholder{opacity:0;}
.cdk-drag-animating{transition:transform 250ms cubic-bezier(0, 0, 0.2, 1);}
.movie-block:last-child{border:none;}
.movie-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder){transition:transform 250ms cubic-bezier(0, 0, 0.2, 1);}