<div class="app">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 app_header">
                   <p>Banner v1.0.1</p>
               </div>
           </div>
       </div>
       <div class="container">
        <div class="row">
            <div class="col-lg-12 app_frame">
                <app-banner *ngFor='let banner of banners' [banner]='banner' id={{banner.id}} (click)='chooseBanner(banner.id)'>
                </app-banner>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 app_properties">
                   <div class="row">
                       <div class="col-lg-8 properties">
                           <div class='form' *ngIf='isPropertiesDisplay'>
                              
                                   <input type="number" class='form-control' 
                                   id='bannerWidth' 
                                   value = 'width'
                                   (keydown)='reWidthBanner(currentBlockId, $event)' 
                                   [(ngModel)]='wBanner'
                                   placeholder='width'>

                                   <input type="number" 
                                   value = 'height' 
                                   class='form-control' id='bannerHeight' 
                                   (keydown)='reHeightBanner(currentBlockId, $event)'
                                   [(ngModel)]='hBanner'
                                   placeholder='height'>

                                   <input type="button" 
                                   class='form-control' 
                                   id='bannerColor' 
                                   (click)='reColorBanner(currentBlockId)' 
                                   placeholder='color' value = 'color'>
                                   
                              
                           </div>
                       </div>
                       <div class="col-lg-4 buttons">
                        <div class= 'properties_buttons'>
                            <button class='btn' type='button' (click)='createBanner()'>Create banner</button>
                        <button class='btn' *ngIf='isDeleted' type='button' (click)='deleteBanner(currentBlockId)'>Delete
                            banner</button>
                        </div>
                       </div>
                   </div>
                </div>
            </div>
            </div>
    </div>




