/* You can add global styles to this file, and also import other style files */
* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
